* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: small;
    color: #1a1d1d;
}

.borders, .col, .row, input#weatherPlace, #submit{
        border: 2px solid #373E40;
        border-radius: 0.5rem;
        overflow: hidden;
}

@media only screen and (max-width:426px) {

    body {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

        ;


    }
    header {
        display: flex;
        width: 100vw;
        margin-right: 0.1rem;
        text-align: center;
        text-justify: auto;
        justify-content: center;
    }
    .col{
        width: 16rem;
        margin-top: 7rem;
    }
    .row{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    input#weatherPlace{

    }
    h1 {
        margin-top: 0.4rem;
        margin-bottom: 0.3rem;
    }

    p {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    input#weatherPlace {
        background-color: #a6ddec;
    }

    input {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        background-color: #a5c9d3;
    }

    #chart {
        margin-right: 0.1rem;
        background-color: blanchedalmond;
        /* background-image: url(./photo-1505533542167-8c89838bb19e.jfif); */
        border: 2px solid #373E40;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    main {
        margin-top: 0.5rem;
        width: 16rem;
        text-align: center;
    }

    section {
        margin-top: 0.5rem;
        background-color: #59bdbd;
        border: 2px solid #373E40;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        border: 2px solid #373E40;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .cityImage {
        width: 14.6rem;
        height: 15rem;
        object-fit: cover;
        margin-bottom: 1rem;
        margin-left: 0.6rem;
        border: 2px solid #373E40;
        border-radius: 0.5rem;
        overflow: hidden;
    }


    footer {
        width: 100vw;
        text-align: center;
        background-color: #59bdbd;
        margin-top: 0.5rem;
        border: 2px solid #373E40;
        border-radius: 0.5rem;
        overflow: hidden;
    }

}

@media only screen and (min-width:426px) and (max-width: 769px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0093E9;
    }

    header {
        width: 100vw;
        text-align: center;
        text-justify: auto;
        background-color: #59bdbd;
        border: 2px solid #373E40;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    input#weatherPlace {
        background-color: blanchedalmond;
    }

    input {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    #chart {
        width: 40.8rem;
        margin-left: 5rem;
        background-color: blanchedalmond;
        background-image: url(./photo-1505533542167-8c89838bb19e.jfif);
        border: 2px solid #373E40;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .infoCard {
        width: 10.6rem;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.5rem;
        width: 50rem;
        text-align: center;
    }

    section {
        width: 16.6rem;
        margin-top: 0.5rem;
        margin-left: 5.8rem;
        background-color: #59bdbd;
        border: 2px solid #373E40;
        border-radius: 0.5rem;
        overflow: hidden;

    }

    .infoCard {
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .cityImage {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
    }

    h1 {
        margin-top: 1rem;
        margin-bottom: 0.3rem;
    }

    p {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    footer {
        width: 100vw;
        text-align: center;
        background-color: #59bdbd;
        margin-top: 0.5rem;
        border: 2px solid #373E40;
        border-radius: 0.5rem;
        overflow: hidden;
    }
}

@media only screen and (min-width:769px) and (max-width: 1440px) {

    .shadow,
    input,
    section,
    .cityImage,
    #chart,
    header,
    footer {
        border: 2px solid #373E40;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    body {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    }

    header {
        width: 100vw;
        text-align: center;
        text-justify: auto;
        background-color: #59bdbd;
    }

    input#weatherPlace {
        background-color: blanchedalmond;
    }

    input {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    main {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        text-align: center;
    }

    #chart {
        width: 50vw;
        height: 40.3vh;
        margin-left: 0.1rem;
        margin-top: 0.5rem;
        background-color: blanchedalmond;
        background-image: url(./photo-1505533542167-8c89838bb19e.jfif);
    }

    section {
        width: 30.3rem;
        height: 21rem;
        margin: 0.2rem;
        margin-top: 0.5rem;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        
    }
    .cityImage{
        width: 10rem;
        height: 14rem;
        object-fit: cover;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
    }


    h1 {
        margin-top: 1rem;
        margin-bottom: 0.3rem;
    }

    p {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    footer {
        width: 100vw;
        text-align: center;
        background-color: #59bdbd;
        margin-top: 0.5rem;
    }
}